:root {
    --carousel-item-height: 92vh;
}

* {
    font-family: arial, "Microsoft JhengHei", "微軟正黑體", sans-serif;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

.divider {
    border: 0;
    color: #333;
    height: 2px;
    background-image: #333;
}

.background-img {
    height: 100%;
    width: 100%;
}

.link {
    outline: none;
    border: none;
    text-decoration: none;
    color: black;
}

.link:hover {
    color: black;
}

.product-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--paper-size);
}

.paper {
    width: 50%;
    height: var(--paper-size);
}

.paper-area {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paper-area .logo {
    width: 30%;
    height: 30%;
}

.paper-area .category {
    font-size: 2.25rem;
    text-transform: uppercase;
}

.product {
    margin: 10px 0;
}

.product .desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.product .title {
    font-size: 3rem;
}

.product .price {
    font-size: 1.5rem;
}